@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0px solid;
}

img {
    max-width: 100%;
    height: auto;
}

.fix {
    overflow: hidden;
}

p {
    margin: 0 0 15px;
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
    margin: 0 0 15px;
    color: #444;
    font-weight: 500;
}

h1 {
    font-size: 48px;
    line-height: 50px;
}

h2 {
    font-size: 38px;
    line-height: 40px;
}

h3 {
    font-size: 30px;
    line-height: 32px;
}

h4 {
    font-size: 24px;
    line-height: 26px;
}

h5 {
    font-size: 20px;
    line-height: 22px;
}

h6 {
    font-size: 16px;
    line-height: 20px;
}

a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

a:hover {
    color: #3EC1D5;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0 none;
}

body {
    background: #fff none repeat scroll 0 0;
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    overflow-x: hidden;
    line-height: 22px;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    display: block;
    background: #22c460;
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 5px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

.back-to-top:focus {
    background: #22c460;
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #22c460;
    color: #fff;
}

.clear {
    clear: both;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url('../image/preloader.gif') no-repeat center center;
}

::-moz-selection {
    background: #3EC1D5;
    text-shadow: none;
}

::selection {
    background: #3EC1D5;
    text-shadow: none;
}

.area-padding {
    padding: 70px 0px 80px;
}

.area-padding-2 {
    padding: 70px 0px 50px;
}

.padding-2 {
    padding-bottom: 90px;
}

.section-headline h2 {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
}

.section-headline h2::after {
    border: 1px solid #333;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 40%;
}

.sec-head {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

/*--------------------------------*/

/*Navbar
/*--------------------------------*/

.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 9;
}

.navbar-header a.navbar-brand {
    display: inline-block;
    height: 70px;
    padding: 15px 0;
}

.main-menu ul.navbar-nav li {
    display: inline-block;
    padding: 0px 13px;
    font-family: 'Lora', serif;
}

.main-menu ul.navbar-nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 24px 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.main-menu ul.navbar-nav li.active>a::after {
    border: 1px solid #fff;
    bottom: 0px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
}

.main-menu ul.navbar-nav li.active a:hover {
    background: none;
    color: #fff;
}

.main-menu ul.navbar-nav li.active a:focus {
    color: #fff;
}

.main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    position: relative;
}

.main-menu ul.navbar-nav li a:hover {
    color: #308F28;
}

.navbar {
    border: medium none;
    margin-bottom: 0;
}

.navbar-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.main-menu ul.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
    color: #333;
}

.navbar-default .navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    padding: 25px 0px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
    color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 30px;
    height: 2px;
}

.top-right.text-right {
    float: right;
    position: relative;
    top: 24px;
    margin-left: 20px;
}

.top-right.text-right>li {
    float: right;
    margin: 0px 8px;
}

.top-right.text-right li a {
    color: #fff;
}

.main-menu .dropdown ul {
    background: #555;
}

.main-menu .dropdown ul li {
    display: block;
}

.main-menu .dropdown ul li:hover {
    background: #308F28;
    color: #fff;
}

/*--------------------------------*/

/* Logo Navbar
/*--------------------------------*/

.header-area.stick {
    background: rgba(0, 0, 0, 0.40);
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.stick .navbar-header a.navbar-brand {
    display: inline-block;
    height: 90px;
}

.stick .navbar-brand>img {
    display: none;
}

.stick .navbar-brand.sticky-logo>img {
    display: block;
}

.sticky-logo span {
    color: #fff;
    font-size: 13px;
    padding-left: 8px;
    font-family: 'Lora', serif;
}

.sticky-logo img {
    float: left;
    width: 35px;
    height: 44px;
}

.stick .main-menu ul.navbar-nav li.active>a::after {
    border: 1px solid #fff;
    bottom: 0px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
}

.stick .main-menu ul.nav>li>a:hover {
    color: #fff;
}

.stick .main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    position: relative;
}

.stick .mainmenu ul#nav>li:hover>a,
.stick .mainmenu ul#nav li .mega-menu,
.stick .mainmenu ul#nav li ul.sub-menu {
    background-color: #f5f5f5;
    color: #fff;
    outline: medium none;
}

.stick .mainmenu ul#nav li:hover ul.sub-menu li a:hover,
.mainmenu ul#nav li .mega-menu span>a:hover,
.stick .mainmenu ul#nav li .mega-menu-shop a.mega-menu-title:hover {
    color: #fff;
}

.stick .logo {
    height: 20px;
}

.stick .logo a {
    margin-top: 0px;
}

.stick .main-menu ul.nav>li>a {
    color: #fff;
    line-height: 22px;
    padding: 24px 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.stick .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 30px;
    height: 2px;
}

.stick .navbar-default .navbar-toggle {
    padding: 10px 0px;
}

/*Video
----------------------------------------*/
#main {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
}

.container-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    border-radius: 0 0 85% 85% / 10%;
    object-fit: cover;
}

.container-video:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg, #308F28 -3.37%, rgba(79, 143, 40, 0.18) 19.85%);
}

.container-video video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.play-btn img {
    position: absolute;
}

.pause-img {
    display: none;
    bottom: 0px;
    width: 50px;
    height: 50px;
}

.pause-img:hover {
    display: block;
}

.play-img {
    margin-top: -350px;
    width: 50px;
    height: 50px;
}

.page-content {
    position: absolute;
    text-align: center;
    width: 95%;
}

/*------------------------------
Profile Kampung
--------------------------------*/
.about-area {
    background-color: #f9f9f9;
}

.single-well img {
    display: block;
    width: 227px;
    height: 300px;
    border: 1px solid #308F28;
    box-shadow: rgb(255, 255, 255) -10px 10px 0px -1px, rgb(31, 193, 27) -10px 10px;
    border-radius: 0px 70px;
    object-fit: cover;
}

.sec-head {
    display: block;
}

.single-well p {
    color: #000;
    text-align: justify;
    font-family: 'Lora', serif;
}

.single-well p a {
    position: absolute;
    width: 170px;
    height: 45px;
    padding-top: 10px;
    padding-left: 36px;
    color: #FFFFFF;
    text-decoration: none;
    background: #308F28;
    box-shadow: inset 7.46667px -7.46667px 7.46667px rgba(36, 109, 30, 0.12), inset -7.46667px 7.46667px 7.46667px rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(27.0293px);
    border-radius: 10px;
    filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
}

/*----------------------------------------
Kegiatan Rutin
----------------------------------------*/
#content-rutin {
    position: relative;
    height: 100vh;
    color: black;
    border: 1px solid #308F28;
    box-sizing: border-box;
    border-radius: 120px 120px 0px 0px;
    background: linear-gradient(0.83deg, rgba(48, 143, 40, 0.47) 0.84%, rgba(48, 143, 40, 0) 99.41%);
    margin-left: -5px;
    margin-right: -5px;
}

.head h2 {
    position: absolute;
    top: 5px;
    left: 7px;
    font-size: 25px;
    font-weight: 600;
    z-index: 2;
}

.group_10 {
    position: absolute;
    width: 235px;
    height: 222px;
    left: 47px;
    z-index: 1;
    text-decoration: none;
    margin-left: 40px;
    border: none;
}

.head {
    position: absolute;
    width: 230px;
    height: 70px;
    left: 768px;
    top: -20px;
    z-index: 1;
    background: #FFFFFF;
    border: 1px solid #308F28;
    border-radius: 24px;
    box-sizing: border-box;
    filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
}

.slick-center .slide-h3 {
    color: #000;
}

.slider {
    width: 1000px;
    margin: 20px auto;
    margin-top: 70px;
    text-align: justify;
}

.slide-box {
    margin: 1% 0 1% 0;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 57, 82, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.slider div {
    padding: 15px;
}

.slick-slide {
    opacity: 0.7;
}

.slick-center {
    display: block;
    max-width: 10% !important;
    max-height: 20% !important;
    opacity: 1;
}

.slide-box img {
    width: 45%;
    border: 1px solid #308F28;
    object-fit: cover;
    float: left;
    margin-right: 2%;
}

.slide-box h4 {
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: left;
}

.slide-box p {
    font-family: 'Lora', serif;
    font-size: 13px;
    padding-right: 5%;
}

.slide-box a {
    font-size: 13px;
    text-decoration: none;
    color: #000;
}

.slide-box a:hover {
    color: #308F28;
}

@media screen and (max-width: 600px) {
    #content-rutin {
        top: 50px;
        height: 90vh;
    }

    .head {
        left: 90px;
    }

    .head h2 {
        font-size: 20px;
    }

    .head h2>img {
        width: 25px;
        height: 20px;
    }

    .head {
        width: 186px;
        height: 55px;
    }

    .slider {
        width: 300px;
        margin-top: 100px;
    }

    .group_10 {
        max-width: 130px;
        max-height: 130px;
        top: 490px;
        left: -30px;
    }

    .slide-box img {
        width: 100%;
        height: 100%;
        border: 1px solid #308F28;
        object-fit: cover;
        float: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 600px) {
    #content-rutin {
        top: 50px;
    }

    .head {
        left: 500px;
    }

    .head h2 {
        font-size: 20px;
    }

    .head h2>img {
        width: 25px;
        height: 20px;
    }

    .head {
        width: 186px;
        height: 55px;
    }

    .slider {
        width: 700px;
        margin-top: 140px;
    }

    .group_10 {
        max-width: 200px;
        max-height: 200px;
        top: 570px;
        left: 0px;
    }
}

@media screen and (min-width: 992px) {
    #content-rutin {
        top: 50px;
    }

    .head {
        left: 600px;
    }

    .head h2 {
        font-size: 20px;
    }

    .head h2>img {
        width: 25px;
        height: 20px;
    }

    .head {
        width: 186px;
        height: 55px;
    }

    .slider {
        width: 900px;
        margin-top: 100px;
    }

    .group_10 {
        max-width: 200px;
        max-height: 200px;
        top: 500px;
        left: 0px;
    }
}

@media only screen and (min-width: 1200px) {
    #content-rutin {
        top: 50px;
    }

    .head {
        left: 800px;
    }

    .head h2 {
        font-size: 20px;
    }

    .head h2>img {
        width: 25px;
        height: 20px;
    }

    .head {
        width: 186px;
        height: 55px;
    }

    .slider {
        width: 900px;
        margin-top: 100px;
    }

    .group_10 {
        max-width: 210px;
        max-height: 200px;
        top: 494px;
        left: 0px;
    }
}

/*----------------------------------------
Gallery Kegiatan
----------------------------------------*/
.read-more a {
    position: absolute;
    width: 140px;
    height: 45px;
    text-align: center;
    left: 50%;
    padding-top: 12px;
    color: white;
    text-decoration: none;
    background: #308F28;
    box-shadow: inset 7.46667px -7.46667px 7.46667px rgba(36, 109, 30, 0.12), inset -7.46667px 7.46667px 7.46667px rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(27.0293px);
    border-radius: 10px;
    font-family: 'Lora', serif;
}

/*Popup Foto
-----------------------*/
.pst-content {
    padding-left: 10px;
}

.project-menu {
    margin-bottom: 40px;
    text-align: center;
}

.project-menu li {
    display: inline-block;
}

.project-menu li a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #444;
    border-radius: 20px;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin: 0 4px;
    padding: 6px 15px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}

.project-menu li a.active,
.project-menu li a:hover {
    border-color: #3EC1D5;
    background: #3EC1D5;
    color: #fff;
    text-decoration: none;
}

.single-awesome-portfolio {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 25%;
    position: relative;
}

.single-awesome-project {
    overflow: hidden;
    margin-bottom: 30px;
}

.first-item {
    margin-bottom: 30px;
}

.awesome-img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 210px;
}

.image-img {
    object-fit: cover;
    width: 100%;
    height: 288px;
}

.awesome-img>a {
    display: block;
    position: relative;
}

.single-awesome-project:hover .awesome-img>a::after {
    opacity: 1;
}

.single-awesome-project:hover .add-actions {
    opacity: 1;
    bottom: 0;
}

.awesome-img>a::after {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
}

.add-actions {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 30px;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 10px 15px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 100%;
}

.project-dec {
    display: block;
    height: 100%;
    width: 100%;
}

.project-dec a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.project-dec h4 {
    margin-bottom: 5px;
}

.project-dec h4:hover {
    color: #fff;
}

.project-dec h4 {
    color: #ddd;
    font-size: 15px;
    margin-top: -45px;
    padding-top: 50%;
    text-decoration: none;
    font-weight: 800;
}

.project-action-btn {
    display: block;
    height: 100%;
    text-align: center;
    transition: all 1s ease 0s;
    width: 100%;
}

.project-action-btn li {
    display: block;
    height: 100%;
    width: 100%;
}

.project-action-btn li a {
    display: block;
    height: 100%;
    width: 100%;
}

/*----------------------------------------
Peta Lokasi
----------------------------------------*/
.contact-area {
    height: auto;
    width: 100%;
}

.contact-content {
    padding: 100px;
    background: #000 none repeat scroll 0 0;
}

.contact-content-right {
    padding: 100px;
}

.single-icon i {
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: 1px solid #444;
    line-height: 46px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.single-icon p {
    font-size: 16px;
    line-height: 30px;
}

.contact-icon {
    margin-bottom: 40px;
}

#google-map {
    height: 370px;
    margin-bottom: 20px;
}

/*----------------------------------------
Footer
----------------------------------------*/

.footer-area {
    padding: 40px 0;
    background: #308F28;
}

.footer-head p {
    color: #fff;
    font-family: 'Lora', serif;
}

.footer-head h4 {
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Lora', serif;
}

.footer-logo {
    padding-bottom: 10px;
}

.footer-logo h2 {
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 40px;
    line-height: 1;
}

.footer-logo h3 {
    font: normal 25px 'Lora', serif;
    color: #fff;
}

.footer-icons ul li {
    display: inline-block;
}

.footer-icons ul li a {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
}

.footer-contacts p>i {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
}

.flicker-img>a {
    float: left;
    padding: 1px;
    width: 33.33%;
}

.footer-icons {
    margin-top: 30px;
}

.footer-content {
    display: block;
    overflow: hidden;
}

.popular-tag ul li a:hover,
.footer-icons ul li a:hover {
    background: #3EC1D5;
    border: 1px solid #3EC1D5;
    color: #fff;
}

.footer-area-bottom {
    background: #f1f1f1 none repeat scroll 0 0;
    padding: 15px 0;
}

.copyright-text a {
    color: #000;
}

.copyright>p {
    margin-bottom: 0;
    color: #000;
}

/*---------------------------------------*/
